.parent{
    width: 100%;
}

.parent > div:nth-child(1){
    background-image: url('../../Images/mountainsPage/image 1 (2).svg');
}

@media (max-width:525px) {
.parent > div:nth-child(1){
    padding-bottom:5rem;
}
    
}
.parent > div:nth-child(2){
position: relative !important;
bottom: 6rem;
}

.slider2 > p {
margin-left: 9%;
margin-bottom: 1rem;
}
.slider3 > p {
margin-left: 9%;
margin-bottom: 1rem;
margin-top: 5rem;
}
.slider4 > p {
margin-left: 9%;
margin-bottom: 5rem;
margin-top: 5rem;
}
.slider4 > div {
margin-bottom: 5rem;
}