.parent {
    position: relative;
    bottom: 6rem;
    width: 100%;
    left: 0rem;
    padding-left: 7rem;
}

@media (max-width:1300px) {
    .parent {
        padding-left: 6rem;
    }
}
@media (max-width:1000px) {
    .parent {
        padding-left: 5rem;
    }
}
@media (max-width:900px) {
    .parent {
        padding-left: 4rem;
    }
}
@media (max-width:700px) {
    .parent {
        padding-left: 3rem;
    }
}
@media (max-width:525px) {
    .parent {
        bottom: 0%;
        padding-left: 3rem;
    }
}