.parent {
  background-image: url("../../Images/BGHEADER.svg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 7rem;
  position: relative;
}

.shadow {
  position: absolute;
  bottom: 0%;
  left: 0%;
  width:100%;

}

.Header {
  width: 82%;
  margin: auto;
}

.Header > p:nth-child(1) {
  font-family: "Helvetica";
  width: 50%;
  line-height: 82px;
  margin-top: 1rem;
}
.Header > p:nth-child(3) {
  font-family: "Helvetica";
  line-height: 36px;
}

@media (max-width: 1000px) {
  .Header > p:nth-child(1) {
    width: 80%;
  }
  .parent {
    background-size: cover;
  }
}
@media (max-width: 1030px) {
  .Header > p:nth-child(1) {
    width: 90%;
  }

}
@media (max-width: 750px) {
  .Header > p:nth-child(1) {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .Header > p:nth-child(1) {
    font-size: 32px;
    line-height: 36px;
    width: 60%;
  }
  .Header > p:nth-child(3) {
    font-family: "Helvetica";
    line-height: 36px;
    font-size: 24px;
  }
}
@media (max-width: 375px) {
  .Header > p:nth-child(1) {
    font-size: 32px;
    line-height: 36px;
    width: 80%;
  }
}


@media (max-width: 525px) {
  .parent > p:nth-child(4){
    display: none;
  }
  
  .Header > p:nth-child(3){
    display: none;
  }
  .parent > div:nth-child(3){
    display: none;
  }

  .parent {
    padding-bottom: 1rem;
  }
}